body{
    margin: 0;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

header{
    height: 60px;
    background-color: #C7A611;
    position: sticky;
    top: 0; 
    padding: 1px;
    margin: -1px;
    z-index: 1000000;
}

.meny{
    height: 40px;
    width: 40px;
}


.fullmeny{
    z-index: 1;
    height: 100vh;
    background-color: #C7A611;
    position: fixed;
    left: -500px;
    transition: 0.3s;
    top:0;
    border: 3px white solid;
}

.activate{
    width: 200px;
    height: 100vh;
    position: fixed;
    background-color: #C7A611;
    left: 0;
    
}

main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 250px 1fr;
}

.bild_framsida{
    outline: 4px dotted #fff;
    outline-offset: -40px;
    width: 100vw;
    border: 4px solid #C7A611;
    box-sizing: border-box; 
    grid-column: span 1;
    grid-row: span 1;
}

.Shoppingsida{
    outline: 4px dashed white;
    grid-column: span 2;
    grid-row: span 1;
}

.lowerheader{
    width: 1fr;
    height: 50px;
    background-color: rgba(199, 166, 17, 0.6) ;
    margin: 10px 0 0 0;
    
    
}

h3{
    color: white;
    text-shadow: 0 0 2px #000; 
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
    font-size: 1.5rem;
    margin-top: 15px;
}

.boxes{
    height: 100vh;
    width: 100vw;
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
    
}
.box{
    grid-column: span 1;
    grid-row: span 1;
    border: 3px solid black;
}

.boxmeny{
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 100%;
    margin-bottom: 0;
}

i.material-icons{
    font-size: 3rem;
    text-align: center;
    margin-top: -5px;
}

.normal_text{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25%;
}

.price{
    text-shadow: 0 0 2px #000; 
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
    color: #C7A611
}

ul{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.lower_wrapper{
    height: 100%;
    width: 100%;
    
}

nav{
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    width: 50px;
    
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px auto;
    grid-template-areas: 
    "empty"
    "textbox"
    ;
    
    transition: 0.3s;
    box-shadow: 10px 0px 90px -15px rgba(0,0,0,0.33);
    
    z-index: 100;
    
}

.side_nav_text{
    grid-area: textbox;
}

.clothestxt{
    transform: rotate(90deg);
    position: relative;
    transition: 0.3s;
    font-size: 2rem;
}

.activate_clothes_menu{
    width: 150px;
    
}

.activate_clothes_text{
    transform: rotate(0deg);
    margin-top: -35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes_shopping{
    width: 325px;
    height: 100%;
    margin-top: 0;
    
    grid-row: span 1;
    grid-column: span 1;
    
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 2%;
}
