body{
    margin: 0;
}

.bild_bakgrund{
    background-color: white;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

header{
    height: 60px;
    background-color: #C7A611;
    position: sticky;
    top: 0; 
    padding: 1px;
    margin: -1px;
    z-index: 1000000;
}

.meny{
    height: 40px;
    width: 40px;
}


.fullmeny{
    z-index: 1;
    height: 100vh;
    background-color: #C7A611;
    position: fixed;
    left: -500px;
    transition: 0.3s;
    top: 0;
    border: 3px white solid;
}

.activate{
    width: 200px;
    height: 100vh;
    position: fixed;
    background-color: #C7A611;
    left: 0;
    
}

.main_shopping, main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 250px 1fr;
    grid-row-gap: 10px;
}

.förlåtmig_david{
    grid-column: span 2;
    grid-row: span 1;
}

.bakgrund2shopping{
   display: none;
}

.main_index{
    display: grid;
    grid-template-rows: 250px 50px 1fr;
    grid-template-columns: 1fr;
}


.bild_framsida{
    background-image: url("../img/bild 1 beskärd rätt.png");
    outline: 4px dotted #fff;
    outline-offset: -40px;
    width: 100%;
    height: 100%;
    border: 4px solid #C7A611; 
    grid-column: span 2;
    grid-row: span 1;
    background-repeat: no-repeat;
}

.Shoppingsida{
    outline: 4px dashed white;
    grid-column: span 2;
    grid-row: span 1;
    background-image: url("../img/Clothes_Shopping_Img.png")
}

.lowerheader{
    width: 1fr;
    height: 50px;
    background-color: rgba(199, 166, 17, 0.6) ;
    margin: 5px 0 5px 0;
    grid-column: span 2;
    grid-row: span 1;
}

h3{
    color: white;
    text-shadow: 0 0 2px #000; 
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
    font-size: 1.5rem;
    margin-top: 15px;
}

.boxes{
    height: 100vh;
    width: 100vw;
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
    grid-gap: 10px;
    margin-top: 10px;
    
}
.box{
    background-color: rgb(208, 206, 202);
    grid-column: span 1;
    grid-row: span 1;
    border: 3px solid black;
    background-image: url("../img/shirt4mobile.png");
    background-repeat: no-repeat;
}

.boxmeny{
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 100%;
    margin-bottom: 0;
}

i.burgarmeny{
    font-size: 3rem;
    text-align: center;
    margin-top: -5px;
}

.normal_text{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25%;
    font-size: 2em;
}

.price{
    text-shadow: 0 0 2px #000; 
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
    color: #C7A611;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.lower_wrapper{
    height: 100%;
    width: 100%;
    
}

nav{
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    width: 50px;
    
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px auto;
    grid-template-areas: 
    "clothestxt"
    "textbox"
    ;
    
    transition: 0.3s;
    box-shadow: 10px 0px 90px -15px rgba(0,0,0,0.33);
    
    z-index: 100;
    
}


.clothestxt{
    transform: rotate(90deg);
    position: relative;
    transition: 0.3s;
    font-size: 2rem;
    margin: 20px 0 0 0;
}

.activate_clothes_menu{
    width: 150px;
}

.activate_clothes_text{
    transform: rotate(0deg);
    grid-area: clothestxt;

    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side_nav_text{
grid-area: textbox;

display: grid;
grid-template-columns: 75px 75px;
grid-template-rows: 40px 40px 40px 40px;
}

.lowertxt{
    font-size: 0;
}

.activate_lowertxt{
    font-size: 1.5rem;
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter_pop_box{
    margin-left: 3000px;
    
}
.activate_filter_pop_box{
    border: black solid 2px;
    grid-column: span 1;
    grid-row: span 1;
    height: 100%;
    width: 100%;
    margin-left: 0;
}

.activate_prisbox{
    height: 200px;
    
}

.boxes_shopping{
    width: 325px;
    height: 100%;
    margin-top: 0;
    
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 2%;

    grid-template-areas: 
    "first second"
    "third fourth"
    "fifth sixth"
    "seventh eigth"
    ;
}

.a_first{
grid-area: first;
}
.a_second{
grid-area: second;
}

.a_third{
grid-area: third;
}

.a_fourth{
grid-area: fourth;
}

.a_fifth{
grid-area: fifth;
}

.a_sixth{
grid-area: sixth;
}

.a_seventh{
grid-area: seventh;
}
.a_eigth{
grid-area: eigth;
}


i.down_arrow{
    font-size: 0em;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 4px;
    position: relative;
    transform: rotate(90deg);
    transition: 0.2s
}

i.a_down_arrow{
font-size: 2em;
}

i.activate_down_arrow{
    transform: rotate(0deg);
    margin-left: 35px;
    font-size: 2em;
}
.lågt_högt{
    margin-left: 3000px;
}

.activate_lågt_högt{
    font-size: 1.5em;
    border: #000 solid 1px;
    margin-top: 0px;
    margin-left: 0;
    
}

.högt_lågt{
    margin-left: 3000px;
    margin-top: -10px;
}
.activate_högt_lågt{
    margin-left: 0;
    border: #000 solid 1px;
    font-size: 1.5em;

}

@media only screen and (min-device-width: 800px)
{
    .bild_framsida{
        height: 400px;
        background-image: none;
        border: none;
        outline: none;
        width: 700px;
        margin-left: 610px;
        margin-top: 25px;

    }
    
    .framsida_pc{
        background-image: url("../img/pexels-photo-717988.jpeg"); 
        background-repeat: no-repeat;
        border: 4px solid #C7A611;
        outline: 4px dotted #fff;
        outline-offset: -40px;
        height: 100%;
        width: 100%;
        box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    }
    .main_index{
        grid-template-rows: 450px 50px 1fr;
        grid-template-columns: 1fr;
    }
    nav{
        margin-left: 0;
        width: 100px;
        grid-row: span 1;
        grid-column: span 1;

    }

    .förlåtmig_david{
        display: none;
    }
    .pc_box{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: span 1;
        grid-row: span 1;
        margin-top: 8px;    
    }
    .clothestxt{
        margin: 70px 0 0 0;
    }
    .side_nav_text{
        margin-top: 70px;
    }
    .activate_filter_pop_box{
        border: none;
        outline: 2px solid black;
        outline-offset: -2px

    }
    .main_shopping{
        grid-template-rows: 450px 1fr;
        grid-template-columns: 100px 1fr;
       
    }
    .Shoppingsida{
        outline: 4px dashed white;
        background-image: url(../img/Clothes_Shopping_Img.png);
        border: 4px solid #C7A611;
        margin-top: 25px;
        box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    }

    .bakgrund2shopping{
        display: block;
        grid-column: span 2;
        grid-row: span 2;
        z-index: 0;
        background-image: url(../img/true_bakgrundsShopping.jpg);
        background-repeat: no-repeat;
    }

    .bild_bakgrund_home{
        background-image: url(../img/bakgrundHomeCUT.jpg)
    }

    .box{
        background-repeat: no-repeat;
        background-image: url(../img/shirt4pc.png);

    }

    .price{
        font-size: 4em;
    }

    .boxmeny{
        height: 80px;
    }

    

    .boxes_shopping{
        width: 1796px;
        margin-left: -1px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;

        grid-template-areas: 
        "first second third fourth"
        "fifth sixth seventh eigth"
        ;
    }

    .menytext:hover{
        background-color: rgba(255, 255, 255, 0.5);
        font-size: 2.5em;
        transition: 0.4s;
    }

    .menytext{
        transition: 0.4s;
    }

    .lowerheader{
        margin: 0;
    }

    .boxes{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    
    grid-gap: 10px;
    margin-top: 10px;
    }
}